<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Basic JSON Editor Example</title>
    <script src="./jsoneditor.js"></script>
  </head>
  <body>
    <h1>Basic JSON Editor Example</h1>
    
    <div id='editor_holder'></div>
    <button id='submit'>Submit (console.log)</button>
    
    <script>
      // Initialize the editor with a JSON schema
      var editor = new JSONEditor(document.getElementById('editor_holder'),
     { "schema":{
            "$schema": "http://json-schema.org/draft-04/schema#",
            "id": "http://jsonschema.net",
            "type": "object",
            "properties": {
              "titre1": {
                "id": "http://jsonschema.net/titre1",
                "type": "string"
              },
              "titre2": {
                "id": "http://jsonschema.net/titre2",
                "type": "string"
              },
              "titre3": {
                "id": "http://jsonschema.net/titre3",
                "type": "string"
              },
              "titre4": {
                "id": "http://jsonschema.net/titre4",
                "type": "string"
              },
              "sousTitre": {
                "id": "http://jsonschema.net/sousTitre",
                "type": "string"
              },
              "questions1": {
                "id": "http://jsonschema.net/questions1",
                "type": "object",
                "properties": {
                  "1": {
                    "id": "http://jsonschema.net/questions1/1",
                    "type": "string"
                  },
                  "2": {
                    "id": "http://jsonschema.net/questions1/2",
                    "type": "string"
                  },
                  "3": {
                    "id": "http://jsonschema.net/questions1/3",
                    "type": "string"
                  },
                  "4": {
                    "id": "http://jsonschema.net/questions1/4",
                    "type": "string"
                  }
                }
              },
              "questions2": {
                "id": "http://jsonschema.net/questions2",
                "type": "object",
                "properties": {
                  "1": {
                    "id": "http://jsonschema.net/questions2/1",
                    "type": "string"
                  },
                  "2": {
                    "id": "http://jsonschema.net/questions2/2",
                    "type": "string"
                  },
                  "3": {
                    "id": "http://jsonschema.net/questions2/3",
                    "type": "string"
                  },
                  "4": {
                    "id": "http://jsonschema.net/questions2/4",
                    "type": "string"
                  }
                }
              },
              "questions3": {
                "id": "http://jsonschema.net/questions3",
                "type": "object",
                "properties": {
                  "1": {
                    "id": "http://jsonschema.net/questions3/1",
                    "type": "string"
                  },
                  "2": {
                    "id": "http://jsonschema.net/questions3/2",
                    "type": "string"
                  },
                  "3": {
                    "id": "http://jsonschema.net/questions3/3",
                    "type": "string"
                  },
                  "4": {
                    "id": "http://jsonschema.net/questions3/4",
                    "type": "string"
                  }
                }
              },
              "questions4": {
                "id": "http://jsonschema.net/questions4",
                "type": "object",
                "properties": {
                  "1": {
                    "id": "http://jsonschema.net/questions4/1",
                    "type": "string"
                  },
                  "2": {
                    "id": "http://jsonschema.net/questions4/2",
                    "type": "string"
                  },
                  "3": {
                    "id": "http://jsonschema.net/questions4/3",
                    "type": "string"
                  },
                  "4": {
                    "id": "http://jsonschema.net/questions4/4",
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "titre1",
              "titre2",
              "titre3",
              "titre4",
              "sousTitre",
              "questions1",
              "questions2",
              "questions3",
              "questions4"
            ]
          }
      });
      
      // Hook up the submit button to log to the console
      document.getElementById('submit').addEventListener('click',function() {
        // Get the value from the editor
        console.log(editor.getValue());
      });
    </script>
  </body>
</html>